* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #263D42;
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
}

.todo-container {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    padding: 20px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo {
    width: 500px;
}

h1 {
    padding: 10px;
    padding-top: 0;
    font-size: 7rem;
    font-family: 'Rubik Moonrocks', cursive;
    font-weight: 400;
}

input {
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    margin-bottom: 5px;
    padding-top: 17px;
    padding-bottom: 20px;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 100%;
}

textarea {
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    display: block;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.todo-header button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    margin-left: 0;
    padding: 10px;
    background-color: #63C7B2;
    width: 100%;
    font-size: 2.5rem;
}

ul {
    list-style-type: none;
}

.todo-list-item {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 20% 70% 10%;
}

.todo-list-item-title {
    font-weight: 700;
}

.todo-list-item-content {
    font-size: 1.6rem;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 3px;
}

.todo-list-item input {
    margin-right: 10px;
    border-radius: 5px;
    width: 100%;
}

.todo-list-item textarea {
    margin-right: 10px;
    border-radius: 5px;
}

.todo-list-item .confirm {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    background-color: #63C7B2;
    margin-top: 5px;
    height: 3rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
}

.todo-list-item .cancel {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    background-color: red;
    margin-top: 5px;
    height: 3rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
}

.todo-list-item .edit {
    color: #63C7B2;
    margin-right: 10px;
}

.todo-list-item .remove {
    color: red;
}

.buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
}

.todo-list-item form {
    width: 500%;    
}

.confirm-cancel {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5px;
}

.confirm-cancel a {
    display: inline-block;
    margin-right: 4px;
}